textarea {
  resize: none;
  height: rem-calc(100);
  font-family: $font-family-red-hat-display;
  padding: rem-calc(8);
  background-color: #101010;
  box-shadow: none;
  border-radius: rem_calc(10);
  border: 0.5px solid #373737;
  color: #ffffff;
}

label {
  &.required::after {
    content: '*';
    color: #e9c339;
    margin-left: rem-calc(4);
    margin-bottom: rem_calc(8);
  }
}
